*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background-color: blue ; */
    font-family: 'Quicksand', sans-serif;
}

.weather-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    background-color: rgba(28, 201, 224, 0.472);
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.185);
}

.weather-wrapper h1{
    padding: 10px;
    color: white;
    /* -webkit-text-stroke: 1px black; */
}

.weather-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.weather-search .search{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 16px;
}

.weather-search .submit{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}