*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background-color: blue ; */
    font-family: 'Quicksand', sans-serif;
}

#weather-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    background-color: rgba(28, 201, 224, 0.472);
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.185);
}